<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head"/>

<body>

<nav th:replace="fragments/head.html :: navbar"/>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <form th:action="@{/product/update}" th:method="post" th:object="${product}">
                <input type="hidden" th:field="*{id}" id="id" name="id">
                <div class="form-group">
                    <label>Name of product</label>
                    <input type="text" class="form-control" th:field="*{name}" id="name" name="name" placeholder="Enter name of product">
                    <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" class="form-control" th:field="*{description}" id="description" name="description" placeholder="Enter description">
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <input type="text" class="form-control" th:field="*{price}" id="price" name="price" placeholder="Enter price">
                    <p class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<th:block th:replace = "fragments/footer.html :: scripts"/>

</body>